@font-face {
    font-family: "Clear Sans";
    src: url('../clear-sans.ttf') format('truetype');
}
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Clear Sans", sans-serif;
    font-size: 21px;
}
.text {
    -ms-flex-order: 2;
    order: 2;
    padding-top: 40px;
    width: 440px;
    font-weight: bold;
}
.board {
    -ms-flex-order: 1;
    order: 1;
    width: 440px;
    height: 440px;
    padding: 5px;
    background-color: #fff;
    border-radius: 7px;
    outline: none;
    position: relative;
}
.board .cell, .tile {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.cell, .tile {
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-family: "Clear Sans";
    color: #fff;
    background-color: #E6E6E6;
}
.tile0 {
    background-color: #E6E6E6;
}
.tile2 {
    background-color: #FFDE00;
}
.tile4 {
    background-color: #FF9F00;
}
.tile8 {
    background-color: #FD6363;
}
.tile16 {
    background-color: #E00BAE;
}
.tile32 {
    background-color: #9127ED;
}
.tile64 {
    background-color: #4E44FF;
}
.tile128 {
    background-color: #00A5FF;
}
.tile256 {
    background-color: #21D6D9;
}
.tile512 {
    background-color: #77DC08;
}
.tile1024 {
    background-color: #C6FF48;
}
.tile2048 {
    background-color: #3D3741;
}
.tile {
    position: absolute;
}
.tile.merged {
    display: none;
}
.tile.merged.isMoving {
    display: inline;
}
.tile.new, .overlay {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: newTile;
    animation-name: newTile;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
@-webkit-keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 55px;
    font-weight: bolder;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 7px;
}
.tryAgain {
    background-color: #876;
    color: #fff;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.overlay .message {
    color: #666;
}
